
/build_app/.vs
/build_app/x64
/build_app/Nebulua.vcxproj.user
/build_test/.vs
/build_test/x64
/build_test/NebuluaTest.vcxproj.user
/build_test/test_out.txt
/build_test/log_out.txt
/mingw/build_app
/mingw/build_test
